:root {
  --primary-color: #30385a;
  --secondary-color: #447685;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Comic Sans MS', cursive;
  font-size: 1.5rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image:
    repeating-conic-gradient(
      var(--primary-color) 0% 25%, 
      var(--secondary-color) 0% 50%
    );
  background-size: 60px 60px;

  animation: scrollCheckerboard 10s linear infinite;
}


h1 {
  color: rgb(161, 190, 228);
  text-shadow: 
    -2px -2px 0 #002f4a,  
     2px -2px 0 #00204a,
    -2px  2px 0 #1a004a,
     2px  2px 0 #4a003f;
}

h2 {
  color:rgb(96, 151, 185);
}

a {
  color:rgb(151, 159, 207);
}

h6 {
  color:rgb(190, 162, 228);
}

@keyframes scrollCheckerboard {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 120px 120px;
  }
}

.no_aa {
  image-rendering: pixelated;    /* modern browsers */
  image-rendering: crisp-edges;  /* older browsers */
  -ms-interpolation-mode: nearest-neighbor; /* IE fallback */
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

p {
  color: rgb(203, 161, 228);
  text-shadow: 
    -2px -2px 0 #4a003f,  
     2px -2px 0 #4a003f,
    -2px  2px 0 #4a003f,
     2px  2px 0 #4a003f;
}

p {
  line-height: 1.5;
}

